/micro-services/employee-service/.classpath
/micro-services/employee-service/.factorypath
/micro-services/employee-service/.project
/micro-services/employee-service/.settings/*
/micro-services/employee-service/target/*